$mat-lmds: (
  50: #eaeefb,
  100: #cad5f5,
  200: #a7b9ef,
  300: #839de9,
  400: #6988e4,
  500: #4e73df,
  600: #476bdb,
  700: #3d60d7,
  800: #3556d2,
  900: #2543ca,
  A100: #ffffff,
  A200: #d3daff,
  A400: #a0afff,
  A700: #869aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-lmds-accent: (
  50: #fef8e8,
  100: #fcedc5,
  200: #fbe19f,
  300: #f9d478,
  400: #f7cb5b,
  500: #f6c23e,
  600: #f5bc38,
  700: #f3b430,
  800: #f2ac28,
  900: #ef9f1b,
  A100: #ffffff,
  A200: #fff9f0,
  A400: #ffe4bd,
  A700: #ffdaa3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
