@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/assets/scss/attributes' as theme;

$color-config: mat.get-color-config(theme.$lmds-theme);
$accent-palette: map.get($color-config, 'primary');

:host {
  padding: 0 16px 16px;
  display: block;
}

.main-breed {
  max-width: 450px;
}

.breeds {
  &-container {
    margin: auto 0.2rem;
  }
  &-item {
    border-radius: 8px;
    border: 1px solid mat.get-color-from-palette($accent-palette, 500, 0.2);
    background: #ffffff;
    min-height: 70px;

    @include mat.elevation(8, mat.get-color-from-palette($accent-palette, 500), 0.3);

    .avatar {
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        -webkit-user-drag: none;
      }
    }

    &-skeleton {
      height: 70px;
      width: 100%;
      border-radius: 8px;
    }
  }
}
